{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.user.registration.confirmed.title'|trans }}
{% endblock %}


{% block page %}

    <h1 class="text-center title headerpagehome">{{ 'views.user.registration.confirmed.title'|trans }}</h1>

    <h2 class="alert-box success text-center">
        {{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}
    </h2>

    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a
                    href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a>
            </p>{% endif %}
    {% endif %}

{% endblock page %}