<div class="row panel">
    <div class="small-12 large-12 columns">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
        </form>

        <p class="text-left">
            <a href="{{ path('fos_user_security_login') }}">
                {{ 'views.user.registration.register.login'|trans }}
            </a>
        </p>

    </div>
</div>